<div id="container">
  <app-detalle-partida />
  <app-tablero />
</div>

<app-modal-fullscreen [mostrar]="this.mostrarModal()">
  @switch (estadoAnterior()) { @case ("ESPERANDO_COMPAÑERO") {
  <img secundario src="img/3-dots-scale-middle.svg" />
  } @case ("VICTORIA_P1") {
  <h2 primario>Ganó {{ salasService.jugador1().nombre }}</h2>
  } @case ("VICTORIA_P2") {
  <h2 primario>Ganó {{ salasService.jugador2().nombre }}</h2>
  } @case ("EMPATE") {
  <h2 primario>Empate</h2>
  }@case ("VICTORIA_FINAL_P1") {
  <h2 primario>Ganó {{ salasService.jugador1().nombre }} todas las rondas</h2>
  } @case ("VICTORIA_FINAL_P2") {
  <h2 primario>Ganó {{ salasService.jugador2().nombre }} todas las rondas</h2>
  } @case ("ABANDONADO") {
  <h2 primario>El otro jugador abandonó la partida</h2>
  } } @switch (estadoAnterior()) { @case ("VICTORIA_P1") {
  <button class="boton" secundario (click)="nuevaRonda()">Próxima ronda</button>
  } @case ("VICTORIA_P2") {
  <button class="boton" secundario (click)="nuevaRonda()">Próxima ronda</button>
  } @case ("EMPATE") {
  <button class="boton" secundario (click)="nuevaRonda()">Próxima ronda</button>
  }@case ("VICTORIA_FINAL_P1") {
  <button class="boton" secundario (click)="nuevaRonda()">Nueva partida</button>
  } @case ("VICTORIA_FINAL_P2") {
  <button class="boton" secundario (click)="nuevaRonda()">Nueva partida</button>
  } @case ("ABANDONADO") {
  <a [routerLink]="['/']" class="boton" secundario>Volver al inicio</a>
  } } @if(!salasService.publica() && this.estadoAnterior() ===
  "ESPERANDO_COMPAÑERO" ) {
  <div pie id="pie">
    <p>
      Copia el link para invitar a jugar a un amigo
      <button id="boton-copiar">
        <img (click)="copiarLink()" src="img/copy.svg" />
        @if(linkCopiado()) {
        <span>✓</span>
        }
      </button>
    </p>
  </div>
  }
</app-modal-fullscreen>
