@use "./../../public/colores.scss";

$border-radius-base: 20px;
$padding-consola: 10px;

#container {
  background-color: colores.$accent-1;
  max-width: 300px;
  border-radius: 40px;
  padding: 20px 30px 0 30px;
}

#pantalla {
  height: 370px;
  background-color: colores.$background;
  border-radius: $border-radius-base;
  outline: 20px solid colores.$primary;
  position: relative;
}

p {
  margin: 26px 26px 0px 26px;
  font-weight: bold;
}
